<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> <ion-icon name="menu"></ion-icon> </ion-menu-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img [src]="item.produto.imageUrl || 'assets/prod.png'">
      </ion-thumbnail>
      <h2>{{item.produto.nome}}</h2>
      <p>{{item.produto.preco | currency}}</p>
      <ion-icon name="add-circle" (click)="increaseQuantity(item.produto)"></ion-icon>
      <p>{{item.quantidade}}</p>
      <ion-icon name="remove-circle" (click)="decreaseQuantity(item.produto)"></ion-icon>
      <ion-icon name="trash" (click)="removeItem(item.produto)"></ion-icon>
    </ion-item>
    <ion-item *ngIf="total() > 0">
      <h1>Total:</h1>
      <h1>{{total()}}</h1>
    </ion-item>
    <ion-item *ngIf="total() <= 0">
      <h1>Seu carrinho está vazio</h1>
    </ion-item>
  </ion-list>
  <button (click)="goBuy()">Quero mais!!</button>
  <button (click)="checkout()">Finalizar Compra!</button>
</ion-content>
